<div class="container">
  <h1>Stupid Coaching</h1>
  <div class="chat-box">
    <h3><%= params[:question] %></h3>
    <h4>—You</h4>
  </div>
  <div class="chat-box">
  <h3>
    <% if params[:question] == 'I am going to work' %>
      <%= "Great!" %>
    <% elsif params[:question].include?("?") %>
      <%= "Silly question, get dressed and go to work!" %>
    <% else %>
      <%= "I don't care, get dressed and go to work!" %>
    <% end %>
    </h3>
    <h4>—Your (stupid) coach</h4>
  </div>
  <%= link_to "Ask a new question", ask_path %>
</div>
